
{% extends 'html/base.html' %}
{% block title %} Aboutus {% endblock %}
{% block content %}
{% load static %}
<div class=" text-last " style="margin-bottom:0">
    <h1 class="text-danger">About Us</h1>
    <div class="container col-md-7 mx-auto mt-5">
    
    <h3 class="text-white ">Hall Booking System is an online application, from which the user can easily manage Booking Dates details.</h3>
    <h3 class="text-white">Our web page consists some of the best halls in the city which are perfect for marriage,seminar and events. Our page shows you the details of hall in a brief way that you can choose one from the available halls from anywhere. The information will be as effective as you visit the hall physically.</h3>

</div>
</div>
<body id="bg" style="background-image: url('{% static 'img/about5.jpg' %}');">
</body>
{% endblock %}


