{% extends 'html/base.html' %}
{% block title %} Halls {% endblock %}
{% load static %}
{% block content %}

<body id="bg" style="background-image: url('{% static 'img/about5.jpg' %}');">
</body>
<div class="container-fluid mt-3">
	{% if messages %}
	{% for j in messages %}
	<div class="alert alert-{{j.tags}} alert-dismissible mt-2">
  		<button type="button" class="close m-2" data-dismiss="alert">&times;</button>
  		<!-- <img src="{% static 'images/usrgd.jpg' %}" class="rounded-circle" height="40px" width="50px"/> -->  {{j}}
	</div>
	{% endfor %}
	{% endif %}
	<div class="row">
		<div class="card col-md mx-2">
		<div class="card-body">
			<h2>Halls <a href="{% url 'adh' %}" class="btn btn-primary float-right m-2">Add Halls</a></h2>
			<table class="table table-borderless" id="table_id">
				<tr class="bg-dark text-white border rounded">
					<th>sno</th>
					<th>Hall</th>
					<th>Address</th>
					<th>Status</th>
					<!-- <th>Occupancy</th> -->
					
					<th colspan="2">Actions</th>
				</tr>
				{% if user.is_superuser %}
				{% for b in ss %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{b.name}}</td>
					<td>{{b.address}}</td>
					<td>{{b.status}}</td>
					<!-- <td>{{b.occupancy}}</td> -->
					
					<td><a href="{% url 'uphl' b.id %}" class="btn btn-info mx-2">Edit</a><a href="{% url 'delt' b.id %}" class="btn btn-danger mx-2">Delete</a></td>
				</tr>
				{% endfor %}
				{% else %}
				{% for n in mn %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{n.name}}</td>
					<td>{{n.address}}</td>
					<td>{{n.status}}</td>
					<td>{{n.occupancy}}</td>
					<!-- <td>{{n.date}}</td> -->
					
					<td><a href="{% url 'uphl' n.id %}" class="btn btn-info mx-2">Edit</a><a href="{% url 'delt' n.id %}" class="btn btn-danger mx-2">Delete</a></td>
				</tr>
				{% endfor %}
				{% endif %}
			</table>
		</div>
	</div>
	
</div>
{% endblock %}